<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Temperature</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../content/css/main.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	</head>

	<body>

		<!-- Header -->
		<header>
			<div class="container">
				<h1 class="text-center">Temperature</h1>
			</div>
		</header>
		
		<!-- Page Content -->
		<div class="container">
			<div class="jumbotron">
				<h3 class="text-center">{{ date }}</h3>
				<p class="text-info text-center"> {{ celsius }}°C | {{ faren }}°F </p>
			</div>
		</div>


		<!-- Footer -->
		<footer class="index">
		</footer>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>
	</body>

</html>